@model CreateSqlModel
@{
    ViewData["Title"] = "Add Stock";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">Create Stock</h2>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">

                        <form asp-controller="Home" asp-action="addstock" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" asp-for="date" >
                                </div>
                                <div class="form-group">
                                    <label for="TradeCode">Trade Code</label>
                                    <select asp-for="TradeCodeId" asp-items="@Model.GetStockList()" class="form-control">
                                        <option>Please select one</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="low">Low</label>
                                    <input type="text" class="form-control" asp-for="low" placeholder="Enter Low">
                                </div>
                                <div class="form-group">
                                    <label for="low">High</label>
                                    <input type="text" class="form-control" asp-for="high" placeholder="Enter High">
                                </div>
                                <div class="form-group">
                                    <label for="Open">Open</label>
                                    <input type="text" class="form-control" asp-for="open" placeholder="Enter Open">
                                </div>
                                <div class="form-group">
                                    <label for="Close">Close</label>
                                    <input type="text" class="form-control" asp-for="close" placeholder="Enter Close">
                                </div>
                                <div class="form-group">
                                    <label for="Volumn">Volumn</label>
                                    <input type="text" class="form-control" asp-for="volumn" placeholder="Enter Volumn">
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a>
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
